<form accept-charset="UTF-8" action="/notes" method="get">
  <div style="margin:0;padding:0">
    <input name="utf8" type="hidden" value="&#x2713;" />
  </div>
  <%= @note.title %>
  <br>
  <br>
  <br>
  <br>
  <%= @note.content %>
</form>



<!-- look up bootstrap and asana/trello -->