<div class="search-box">
<%= form_tag subjects_path, :method => "get" do %>
  <p>
    <%= text_field_tag(:q, params[:q], :placeholder => "            Search all things!") %>
    <%= submit_tag("Search") %>
  </p>
<% end %>
</div>