<div class="search-results">
  <h1>Results</h1>
  </br>
  <ul>
  <% @results.each do |result| %>
  <li class="search-notes"><%= link_to result.title, note_path(result) %></li>
  <% end %>
  </ul>
</div>
