<!doctype html>
<html>
<head>
<h1 class="makers">Meet your makers</h1>

<div class="bioimages">

<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="" data-toggle="modal"><img class="bio-img" src="assets/ashley_beattie.jpg"/></a>
 
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Ashley Beattie</h3>
  </div>
  <div class="modal-body">
    <p>
      I'm a recent graduate of Bitmaker Labs' immersive "Introduction to Web Development Class."  Over the past 9 weeks I've learned quite a lot about Ruby, Ruby on Rails, Javascript, JQuery, CSS/SCSS, HTML/HAML...  and more!  When it comes to webdev, you name it, we've probably seen it!     
    </p>
    <p>
      The app you're taking a look at right now is a research-task-enabling notes application.  It was designed to facilitate the research aspects when one is developing web applications.  It currently employs Solr to index and search the vast knowledge bases that I've discovered over the course of my learning, as well as to organize research projects.  It also uses as lightweight JQuery WYSIWYG text-editor to showcase the work on the notes pages.
    </p>
    <p>
      Future improvements will be to index bookmarks, scrape websites, organize searches and visualize the knowledge bases using D3.js.
    </p>
    <p>
      Thanks for taking a look!
    </p>
    <script type="text/javascript">
      $(document).ready(function () {
        //$('#info_myself').hide();
        //$('#info_myself').fadeIn(2000);
        // define active class for 
        $('.bio-img').addClass('active');
        // 
        //
      });
    </script>
  </div>
</div>

<!-- Button to trigger modal -->
<a href="#myModal2" role="button" class="" data-toggle="modal"><img class="bio-img" src="assets/37.jpg"/></a>

<!-- Modal -->
<div id="myModal2" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nick Gray</h3>
  </div>
  <div class="modal-body">
    <p>
      I'm a recent graduate of Bitmaker Labs' immersive "Introduction to Web Development Class."  Over the past 9 weeks I've learned quite a lot about Ruby, Ruby on Rails, Javascript, JQuery, CSS/SCSS, HTML/HAML...  and more!  When it comes to webdev, you name it, we've probably seen it!
    </p>
    <p>
      The app you're taking a look at right now is a research-task-enabling notes application.  It was designed to facilitate the research aspects when one is developing web applications.  It currently employs Solr to index and search the vast knowledge bases that I've discovered over the course of my learning, as well as to organize research projects. It also uses as lightweight JQuery WYSIWYG text-editor to showcase the work on the notes pages.
    </p>
    <p>
      Future improvements will be to index bookmarks, scrape websites, organize searches and visualize the knowledge bases using D3.js.
    </p>
    <p>
      Thanks for taking a look!
    </p>
    <script type="text/javascript">
      $(document).ready(function () {
        //$('#info_myself').hide();
        //$('#info_myself').fadeIn(2000);
        // define active class for 
        $('.bio-img').addClass('active');
        // 
        //
      });
    </script>
  </div>
</div>

</div>

</body>
</html>
