<div class="navbar">
  <div class="navbar-inner">
    <a class="research-header" href="/">Researcher</a>
    <ul class="nav">
      <li><a href="/notes">Notes</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
  </div>
</div>