<div class="navbar">
  <div class="navbar-inner">
    <a class="research-header" href="/">Researcher</a>
    <ul class="nav">
      <li><a href="/notes" style="color:white;" class="nav-links">Notes</a></li>
      <li><a href="/aboutus" style="color:white;" class="nav-links">About Us</a></li>
    </ul>
  </div>
</div>